body{
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background: rgb(211, 198, 198);
}
*{
  color: black;
  margin: 0;
}
p{
  margin: 20px 0;
}
header nav{
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
}
header nav h1{
  margin-right: auto;
  border-bottom: 3px solid black;
}
header nav a{
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
header nav a.active{
  background: rgb(198, 83, 83);
}
/* main */
main{
  max-width: 1200px;
  margin: 40px auto;
}
h3{
  color: rgb(198, 83, 83);
  text-align: center;
}
/* psot preview */
.post-preview{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.post-preview:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.post-preview a{
  text-decoration: none;
}
/* help post */
.hhelp{
  text-align: center;
}
.help-post nav{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}
.help-post nav a{
  padding: 10px;
  border: 2px solid white;
  border-radius: 4px;
  text-decoration: none;
}
.help-post nav a:hover{
  border-color: rgb(198, 83, 83);
}
.help-post nav a.active{
  background: rgb(138, 105, 105);
}
/* post details */
.post-detail h2{
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
}
.post-detail div{
  margin: 20px 0;
}
.h1detail{
  text-align: center;
  color: rgb(198, 83, 83);
}
.post-detail button{
  background: rgb(198, 83, 83);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
/* posts ajout */
.ajout{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.ajout h2{
  font-size: 20px;
  color: rgb(198, 83, 83);
  margin-bottom: 30px;
}
.ajout input, .ajout textarea{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #fff;
  box-sizing: border-box;
  display: block;
}
.ajout button{
  background: rgb(198, 83, 83);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;

}